/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.root {
    -fx-font-family: 'Inter', sans-serif;
}

.modal-root {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #1E2240;
    -fx-border-width: 2px;
}

.modal-header {
    -fx-background-color: #4CAF50;
}

.modal-title {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.section-label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #1E2240;
}

.field-label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #616161;
}

.modal-textfield, .modal-combo {
    -fx-background-color: #F5F6FA;
    -fx-border-color: #D1D1D1;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-padding: 8px;
    -fx-font-size: 14px;
}

.modal-textfield:focused, .modal-combo:focused {
    -fx-border-color: #1E2240;
    -fx-background-color: #FFFFFF;
}

.image-wrapper {
    -fx-border-color: #E0E0E0;
    -fx-border-style: dashed;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-color: #FAFAFA;
}

.secondary-button {
    -fx-background-color: #9FA8DA;
    -fx-text-fill: #1E2240;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 4px;
}
.secondary-button:hover {
    -fx-background-color: #7986CB;
}

.button-save {
    -fx-background-color: #66BB6A;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px 30px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 3, 0, 0, 1);
}
.button-save:hover {
    -fx-background-color: #4CAF50;
}

.button-cancel {
    -fx-background-color: #E0E0E0;
    -fx-text-fill: #424242;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 4px;
    -fx-cursor: hand;
}
.button-cancel:hover {
    -fx-background-color: #BDBDBD;
}
.image-info-label{
    -fx-font-style: italic;
     -fx-text-fill: #757575; 
     -fx-font-size: 18px;
     -fx-padding: 24px;    
}